@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #272727;
  --light-gray: #666;
  --green: #2ea66d;
  --light-green: #edf6f2;
  --red: #bb0925;
  --white: #fff;
}

html,
body {
  font-family: "Albert Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: var(--green);
  color: var(--white);
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 15px;
  border: 1px solid var(--green);
  transition: all 0.5s ease;
}

.btn:hover {
  background: var(--white);
  color: var(--green);
}
/* Header Start */
.navbar {
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  /* ? Explain why we use z-index in navbar */
  z-index: 1000;
  background-color: var(--white);
}

.navbar .navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-flex .logo {
  width: 150px;
}

.navbar .navbar-list {
  display: flex;
  align-items: center;
}

.navbar .navbar-list li {
  margin: 0 15px;
}

.navbar .navbar-list li a {
  position: relative;
  color: var(--light-gray);
  transition: color 0.3s ease;
}

.navbar .navbar-list li a::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -3px;

  width: 100%;
  height: 1px;

  background-color: #000;

  transform: scaleX(0);
  transform-origin: center;

  transition: transform 0.3s ease;
}

.navbar .navbar-list li a:hover {
  color: #000;
}

.navbar .navbar-list li a:hover::after {
  transform: scaleX(1);
}

.navbar .header-actions {
  font-weight: 400;
}

.navbar .header-actions a {
  margin: 0 5px;
  color: var(--dark-gray);
}

.navbar .header-actions .icon {
  font-size: 20px;
  position: relative;
}

.navbar .header-actions .icon .badge {
  position: absolute;
  top: -8px;
  left: 15px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* Hero */
.hero {
  height: 80vh;
}

.swiper-slide,
.hero-slider {
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .hero-content {
  position: absolute;
  top: 30%;
  left: 5rem;
  color: var(--white);
}

.hero-tag {
  display: inline-block;
  padding: 3px 1rem;
  border: 1px solid var(--white);
  border-radius: 20px;
  margin-bottom: 1.5rem;
  font-size: 13px;
}

.hero-content h2 {
  font-size: 50px;
  font-weight: 500;
}

.hero-content p {
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0;
}

/* Arrows */
.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;

  border: 1px solid var(--white);
  border-radius: 50%;

  color: var(--white) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px !important;
  font-weight: 700;
}

/* Pagination */
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--white);
  opacity: 0.7;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
/* Animation +  */

/* Header End */
