@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #272727;
  --light-gray: #666;
  --green: #2ea66d;
  --light-green: #edf6f2;
  --red: #bb0925;
}

html,
body {
  font-family: "Albert Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Start */
.navbar {
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

.navbar .navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-flex .logo {
  width: 150px;
}

.navbar .navbar-list {
  display: flex;
  align-items: center;
}

.navbar .navbar-list li {
  margin: 0 15px;
}

.navbar .navbar-list li a {
  position: relative;
  color: var(--light-gray);
  transition: color 0.3s ease;
}

.navbar .navbar-list li a::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -3px;

  width: 100%;
  height: 1px;

  background-color: #000;

  transform: scaleX(0);
  transform-origin: center;

  transition: transform 0.3s ease;
}

.navbar .navbar-list li a:hover {
  color: #000;
}

.navbar .navbar-list li a:hover::after {
  transform: scaleX(1);
}

.navbar .header-actions {
  font-weight: 400;
}

.navbar .header-actions a {
  margin: 0 5px;
  color: var(--dark-gray);
}

.navbar .header-actions .icon {
  font-size: 20px;
  position: relative;
}

.navbar .header-actions .icon .badge {
  position: absolute;
  top: -8px;
  left: 15px;
  background-color: var(--green);
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* Header End */
