@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #272727;
  --light-gray: #666;
  --green: #2ea66d;
  --light-green: #d3eee1;
  --red: #bb0925;
  --white: #fff;
}

html,
body {
  font-family: "Albert Sans", sans-serif;
  height: 7000px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility classes */
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 15px;
  transition: all 0.5s ease;
  border: 1px solid;
}

.btn-primary {
  background: var(--green);
  color: var(--white);
  border-color: var(--green);
}

.btn-primary:hover {
  background: var(--white);
  color: var(--green);
}

.btn-secondary {
  background-color: var(--white);
  color: #000;
}

.btn-secondary:hover {
  background: transparent;
  color: var(--white);
  border-color: var(--white);
}

.btn-arrow {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
  margin-right: 5px;
}

.btn-arrow:hover {
  color: var(--green);
  border-color: var(--green);
}

.dark-content {
  color: #000;
}

.light-content {
  color: var(--white);
}
/* Product Utility classes */
.product-info {
  padding-top: 1rem;
}

.product-info span {
  color: var(--light-gray);
  font-size: 14px;
  font-weight: 300;
}

.product-info h3 {
  margin: 5px 0 12px;
  font-weight: 400;
  font-size: 16px;
}

.product-info .sale-price {
  color: var(--red);
}

.product-info .sale-price del {
  color: var(--light-gray);
  font-weight: 300;
  margin-left: 5px;
  font-size: 14px;
}

/* Arrows */
.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;

  border: 1px solid;
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px !important;
  font-weight: 700;
}

/* Pagination */
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--white);
  opacity: 0.7;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

/* Header Start */
.navbar {
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  /* ? Explain why we use z-index in navbar */
  z-index: 1000;
  background-color: var(--white);
}

.navbar .navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-flex .logo {
  width: 150px;
}

.navbar .navbar-list {
  display: flex;
  align-items: center;
}

.navbar .navbar-list li {
  margin: 0 15px;
}

.navbar .navbar-list li a {
  position: relative;
  color: var(--light-gray);
  transition: color 0.3s ease;
}

.navbar .navbar-list li a::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -3px;

  width: 100%;
  height: 1px;

  background-color: #000;

  transform: scaleX(0);
  transform-origin: center;

  transition: transform 0.3s ease;
}

.navbar .navbar-list li a:hover {
  color: #000;
}

.navbar .navbar-list li a:hover::after {
  transform: scaleX(1);
}

.navbar .header-actions {
  font-weight: 400;
}

.navbar .header-actions a {
  margin: 0 5px;
  color: var(--dark-gray);
}

.navbar .header-actions .icon {
  font-size: 20px;
  position: relative;
}

.navbar .header-actions .icon .badge {
  position: absolute;
  top: -8px;
  left: 15px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* Hero */
.hero {
  height: 80vh;
}

.swiper-slide,
.hero-slider {
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .hero-content {
  position: absolute;
  top: 30%;
  left: 5rem;
  color: var(--white);
}

.hero-tag {
  display: inline-block;
  padding: 3px 1rem;
  border: 1px solid var(--white);
  border-radius: 20px;
  margin-bottom: 1.5rem;
  font-size: 13px;
}

.hero-content h2 {
  font-size: 50px;
  font-weight: 500;
}

.hero-content p {
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0;
}

/* Arrows */

.hero-prev,
.hero-next {
  color: var(--white) !important;
  border-color: var(--white);
}

/* Animation +  */

/* Header End */

/* Main Start */
/* Categories Start */
#categories,
#offers,
#products,
#inspiration,
#collections,
#delivery,
#why-us,
#testimonials,
#footer {
  margin: 4rem 0;
}

#categories h2,
#offers h2,
#products h2,
#inspiration h2,
#why-us h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 3rem;
}

#categories .categories-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  text-align: center;
}

#categories .categories-grid .category img {
  width: 110px;
  height: 110px;
  /* ? */
  object-fit: contain;
}

#categories .categories-grid .category h3 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
}

/* Categories End */
/* * Offers Start */
#offers .offers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

#offers .offers-grid .offer-card {
  position: relative;
  overflow: hidden;
}

#offers .offers-grid .offer-card img {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

#offers .offers-grid .offer-card:hover img {
  transform: scale(1.1);
}

#offers .offers-grid .offer-card .offer-content {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}

.offer-tag,
.collection-tag,
.about-tag {
  border: 1px solid;
  border-radius: 20px;
  padding: 3px 15px;
  font-size: 14px;
}
#offers .offers-grid .offer-card .offer-content h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0;
}

/* Offers End */

/* Products Start */
#products .section-header {
  display: flex;
  justify-content: space-between;
}

.product-img {
  position: relative;
  height: 280px;
  background-color: #f7f7f7;
  /* ? */
  overflow: hidden;
}

.product-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 2rem;
  transition: transform 0.4s ease;
}

.product-card:hover .product-img img {
  transform: scale(1.05);
}

.wishlist-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.discount {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--red);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/* Products End */
/** Inspiration Start */
#inspiration h2 a {
  color: inherit;
  border-bottom: 1px solid;
}
/* 
#inspiration img {
  width: 100px;
} */

#inspiration .inspiration-grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1.5rem;
}

#inspiration .inspiration-banner {
  position: relative;
}

#inspiration .inspiration-banner img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

#inspiration .inspiration-banner .brand-card {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

#inspiration .inspiration-banner .brand-card img {
  width: 180px;
}

#inspiration .inspiration-products .inspiration-product {
  display: flex;
  gap: 1rem;
}

#inspiration .inspiration-products .inspiration-product .product-image {
  position: relative;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#inspiration .inspiration-products .inspiration-product .product-image img {
  width: 120px;
  height: 100px;
  object-fit: contain;
}

#inspiration .inspiration-products .inspiration-product .product-image button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

.total span {
  display: block;
  margin-bottom: 2px;
}
/* Inspiration End */
/** Collections Start */
.collection-banner {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: center;
  gap: 3rem;
}

.collection-content h2 {
  font-size: 35px;
  font-weight: 500;
  margin: 20px 0;
}

.collection-images {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.collection-images img {
  width: 120px;
  height: 200px;
  transition: transform 0.4s ease;
}

.collection-images img:hover {
  transform: translateY(-10px);
}
/* Collections End */
/* Delivery Start */
.delivery-banner {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  border-radius: 8px;
  overflow: hidden;
}

.delivery-banner .delivery-content {
  background-color: var(--light-green);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delivery-banner .delivery-content .delivery-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.delivery-banner .delivery-content h2 {
  font-size: 28px;
  margin-right: 10px;
}

.delivery-banner .delivery-content p {
  color: var(--light-gray);
}

.delivery-image img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  display: block;
}

/* Delivery End */
/* About Start */
#about {
  min-height: 600px;
  background: url("./images/about-bg.jpg") center/cover no-repeat fixed;
  position: relative;
}

.about-overlay {
  position: absolute;
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
}

.about-content {
  max-width: 1200px;
  color: var(--white);
}

.about-content h2 {
  margin: 20px 0;
  font-size: 45px;
  font-weight: 600;
}

.about-content h2 span {
  color: var(--green);
}
/* About End */
/** Why Start */
.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.why-card {
  display: flex;
  gap: 10px;
}

.why-card .why-number {
  /* display: block; */
  font-size: 60px;
  font-weight: 600;
  color: var(--green);
  margin-bottom: 16px;
}

.why-card .why-number hr {
  background-color: var(--light-green);
  height: 2px;
  border: none;
}

.why-card img {
  width: 100%;
  border-radius: 8px;
}

.why-card h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0 20px;
}
.why-card p {
  color: var(--light-gray);
}
/* Why End */
/* Testimonials Start */
#testimonials {
  padding: 2rem 0;
  background-color: var(--light-green);
}

.testimonials-slider {
  position: relative;
}

.testimonial-content {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 7rem 0;
}

.testimonial-content .stars i {
  color: var(--green);
  margin: 0 2px;
}

.testimonial-content h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  margin: 20px 0;
}

.testimonial-content .author {
  font-size: 14px;
}

.testimonial-content .author {
  font-size: 1.25rem;
  color: var(--light-gray);
}

.testimonial-prev,
.testimonial-next {
  color: var(--dark-gray) !important;
  border-color: var(--dark-gray);
}

/* Pagenation */
.testimonial-pagination .swiper-pagination-bullet-active {
  background-color: var(--green);
}

/* Testimonials End */
/* Main End */

/** Footer Start */
#footer {
  padding: 2rem 0;
}
.footer-top {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 4rem;
}

.footer-logo {
  display: block;
  width: 220px;
  margin-bottom: 20px;
}

.footer-info p {
  display: inline-block;
  background-color: var(--light-green);
  padding: 10px 25px;
  border-radius: 30px;
  color: var(--dark-gray);
  margin-bottom: 15px;
}
.footer-info address {
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-info a {
  color: var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
}
.footer-info a:hover {
  color: var(--green);
  border-color: var(--green);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}

.footer-column h3 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}

.footer-column ul li {
  margin-bottom: 15px;
}

.footer-column ul li a {
  color: var(--dark-gray);
  transition: all 0.3s ease;
}

.footer-column ul li a:hover {
  color: var(--green);
}
/* Footer End */
